<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <script>
            function sendForm(){
                form = document.sendForm();
                if(form.id.value ==""){
                    alert("ID를 입력하세요");
                    return false;
                    
                }else if(form.passwd.value == ""){
                    alert("비밀번호를 입력하세요");
                    return false;
                }else if(form.name.value == ""){
                    alert("이름를 입력하세요");
                    return false;
                }
                form.submit();

            }
        </script>
        <div>TODO write content</div>
        <form id="sendForm" method="post" action="/api/registUser">
            <input id="id" name="id" type="text"/><br/>
            <input id="passwd" name="passwd" type="password" /><br/>
            <input id="name" name="name" type="text"/><br/>
            <button onclick="javascript:sendForm()" style="width: 50px;height: 20px;" value="전송" />
        </form>
        
    </body>
</html>
